node-red-mcp-demo-docker/node_red_data/.flows.json.backup
[
    {
        "id": "add2fb3d3da878db",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60c4c6d2af265a8e",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://host.docker.internal:3000",
        "prompt": "",
        "apiKey": "",
        "mcpServerCommand": "node",
        "mcpServerArgs": "../mcp-server-demo/build/index.js",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "67126c379f936438",
                "863d1fb94f8132a9"
            ]
        ]
    },
    {
        "id": "2aebae765c66249f",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "name": "Teste Hello World",
        "props": [
            {
                "p": "payload",
                "v": "show hello world message",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "46aecd174edb19f9",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "name": "Liste as Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O que você pode fazer?",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "67126c379f936438",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "863d1fb94f8132a9",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "name": "Detalhes MCP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "d04f8a5861577323",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "name": "Hora local",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "informe a hora local",
        "payloadType": "str",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "63817772837130d6",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "name": "Clima",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "qual é o clima de São Paulo",
        "payloadType": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "3c3e0dab18cac26e",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "name": "mcp-tools remote",
        "serverUrl": "http://host.docker.internal:3000",
        "prompt": "",
        "apiKey": "",
        "mcpServerCommand": "npx",
        "mcpServerArgs": "-y, @smithery/cli@latest, run, @nickclyde/duckduckgo-mcp-server, --key, 0d1e4000-7e41-4582-9e9a-c34be310565b",
        "sessionId": "example_03_remote",
        "timeout": 30000,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "1be09b3a241d1c0f",
                "8c7f43f4b7f55a29"
            ]
        ]
    },
    {
        "id": "24a9f6c6010c2128",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "name": "Search Web",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Quais são as últmas notícias no Brasil?",
        "payloadType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "3c3e0dab18cac26e"
            ]
        ]
    },
    {
        "id": "1be09b3a241d1c0f",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c7f43f4b7f55a29",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "name": "Detalhes MCP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 620,
        "wires": []
    }
]