node-red-contrib-mcp-tools/example-flow.json
[
    {
        "id": "inject1",
        "type": "inject",
        "name": "Teste Hello World",
        "props": [
            {
                "p": "payload",
                "v": "show hello world message",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [["mcp1"]]
    },
    {
        "id": "inject2",
        "type": "inject",
        "name": "Teste Users",
        "props": [
            {
                "p": "payload",
                "v": "exiba informações do usuário",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [["mcp1"]]
    },
    {
        "id": "mcp1",
        "type": "mcp-tools",
        "name": "MCP Server",
        "serverUrl": "http://localhost:3000",
        "prompt": "",
        "timeout": 30000,
        "x": 340,
        "y": 130,
        "wires": [["debug1", "debug2"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "name": "Detalhes MCP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "x": 560,
        "y": 160,
        "wires": []
    }
]

